.vscode/
_2/
Factorio_OLD/
FACTORIO-2/
/data/
doc-html/
scenarios/
saves/
mods/_zip-serv/
mods/_zipnew/
/config/
/bin/
.gitignore
factorio-previous.log
factorio-current.log
data-cache.dat
crop-cache.dat
config-path.cfg
blueprint-storage.dat
player-data.json
atlas-cache.dat
achievements.dat
TODO.txt
TODO-method.txt
mods/_open/
achievements-modded.dat
mods/_openold/
