** !filter !merge !diff
* text=auto

* text eol=lf
*.json text eol=lf
*.lua text eol=lf
*.cfg text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.ogg binary 
*.png binary 
*.jpg binary 
*.mp4 binary 
*.ods binary 
*.swg binary 
*.wav binary 
*.xcf binary 
*.ttf binary 
*.zip binary 
