/*
!.github
!mods
!docs
!mods-metadata
!.fallout
!build.*
!Paranoidal.sln
!config.json
!.gitlab-ci.yml
!README.md

# Mod archives may contain repository configuration that does not apply to this repository.
**/.gitignore
**/.gitattributes
!/.gitignore
!/.gitattributes

bin
obj
temp
.idea
**/.DS_Store
mods/mod-settings.dat
mods/mod-list.json
mods/*.zip
