/*
!.github
!mods
!docs
!.nuke
!build.*
!Paranoidal.sln
!config.json
!.gitlab-ci.yml
!README.md
!THIRD_PARTY_PATCHES.md

bin
obj
temp
.idea
**/.DS_Store
mods/mod-settings.dat
mods/mod-list.json
mods/*.zip