default:
  image: mcr.microsoft.com/dotnet/sdk:8.0

variables:
  GIT_DEPTH: 0
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1

stages:
  - launchability
  - updateLocalization

launch-ability:
  only:
    - pushes
    - changes
      - mods/**
  stage: launchability
  script:
    - ./build.sh EnsureLaunchability
    - ./build.sh EnsureLaunchability --TargetFactorioVersion latest

pull-localization:
  rules:
    - if: $CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "trigger"
      when: always
    - when: never
  stage: updateLocalization
  script:
    - rm -rf paranoidalLocaleTemp
    - git clone --depth 1 https://SKProCH:$GITLAB_ACCESS_TOKEN@gitlab.com/paranoidal/modpack.git paranoidalLocaleTemp
    - cd paranoidalLocaleTemp
    - ./build.sh  PullLocalization
    - git config --global user.email 'skproch@yandex.ru'
    - git commit --verbose -am 'Updated ParanoidalLocale mod' --author='SKProCHs Bot <skproch@yandex.ru>' && echo "No changes"
    - git push --verbose origin