# All repository text files have the same checkout representation on every OS.
* text=auto eol=lf

# Binary files must never be passed through text or line-ending conversion.
*.7z binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.kra binary
*.mp3 binary
*.mp4 binary
*.ods binary
*.ogg binary
*.pdf binary
*.png binary
*.png.bak binary
*.swg binary
*.ttf binary
*.wav binary
*.xcf binary
*.xcf.bak binary
*.zip binary
Thumbs.db binary
